
@{
    ViewBag.Title = "Index";
}

<h2>建議喝水量</h2>
@using (Html.BeginForm("Index", "Water", FormMethod.Get))
{
    <p>姓名:@Html.TextBox("Name")</p>
    <p>體重:@Html.TextBox("weight")</p>
    <p>歡迎,@ViewBag.name, 建議喝水量:@ViewBag.result</p>

    <input type="submit" value="送出" />
}

